<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>测试demo</title>
<script type="text/javascript" src="../static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../static/js/common.js"></script>
</head>
<body>
    <a id="id1" href="javascript:void(0)" style="width:80px" onclick="setCokie()">setCokie</a><br />
    <a id="id1" href="javascript:void(0)" style="width:80px" onclick="getCokie()">getHeader</a><br />
    <a id="id1" href="javascript:void(0)" style="width:80px" onclick="delCokie()">delHeader</a><br />
    
	<a id="id1" href="javascript:void(0)" style="width:80px" onclick="findbyid()">依据id查询测试</a><br />
	<a id="id2" href="javascript:void(0)" style="width:80px" onclick="jsonsubmit()">提交json对象测试</a> <br />
	<a id="id2" href="javascript:void(0)" style="width:80px" onclick="findbyiduser()">提交user对象测试</a> <br />
	<a id="id3" href="javascript:void(0)" style="width:80px" onclick="feignfindbyid()">feign依据id查询测试</a> <br />
	<a id="id3" href="javascript:void(0)" style="width:80px" onclick="feignjsonsubmit()">feign提交json对象测试</a> <br />
    
	<script type="text/javascript">
	    function setCokie() {
	    	var timestamp = (new Date()).valueOf();
	    	setCookie(timestamp);
	    }    
	    
	    function getCokie() {
	    	var token = getHeader();
	    	alert(token);
	    }
	    
	    function delCokie() {
	    	delCookie();
	    }
	
	
	    function findbyid() {
	    	$.ajax({
			    url:'http://localhost:8100/sanysxs-bussiness-hrpro/demo/demoHrFindById/0c0b1ca9dabb4e54a64285fc6af300a0',
			    type:'get',    
			    dataType:'json',
			    headers: {'token': 'tokenvalue'},
			    success:function(data) { 
			    	alert(data.code+data.msg);
			    	//var cookievar = $.cookie('token');
			    	//$.cookie('token', cookievar, { expires: 7, path: '/' });
			    },    
			    error : function() {
		           alert("访问错误!");    
			    }    
			}); 
	    }
	    
	    function findbyiduser() {
	    	$.ajax({
			    url:'http://localhost:8100/sanysxs-base-user/demo/demoFindById/0c0b1ca9dabb4e54a64285fc6af300a0',
			    type:'get',    
			    dataType:'json',
			    headers: {'token': 'tokenvalue'},
			    success:function(data) { 
			    	alert(data.code+data.msg);
			    	var cookievar = $.cookie('token');
			    	$.cookie('token', cookievar, { expires: 7, path: '/' });
			    },    
			    error : function() {    
		           alert("访问错误!");    
			    }    
			}); 
	    }
	    
		var paramJson = {
	            tel1:"tel1no1111"
	    };
		
		function jsonsubmit() {
			$.ajax({
	            type: "POST",
	            url: "http://localhost:8100/sanysxs-bussiness-hrpro/demo/updatehr",
	            dataType: "json",
	            contentType: "application/json",
	            headers: {'token': 'tokenvalue'},
	            data: JSON.stringify(paramJson),
	            success: function (data) {
	                alert(data.code);
	            }  
	        })
		}
		
		
		function feignfindbyid() {
	    	$.ajax({
			    url:'http://localhost:8100/sanysxs-base-user/demofeign/demoFeignFindById/0c0b1ca9dabb4e54a64285fc6af300a0',
			    type:'get',    
			    dataType:'json',
			    headers: {'token': 'tokenvalue'},
			    success:function(data) { 
			    	alert(data.code+data.msg);
			    	var cookievar = $.cookie('token');
			    	$.cookie('token', cookievar, { expires: 7, path: '/' });
			    },    
			    error : function() {    
		           alert("访问错误!");    
			    }    
			}); 
	    }
		
		function feignjsonsubmit() {
			$.ajax({
	            type: "POST",
	            url: "http://localhost:8100/sanysxs-base-user/demofeign/update",
	            dataType: "json",
	            contentType: "application/json",
	            headers: {'token': 'tokenvalue'},
	            data: JSON.stringify(paramJson),
	            success: function (data) {
	                alert(111);
	            }  
	        })
		}
	</script>
</body>
</html>
