.icon-folder_add{
	background:url('extIcon/folder_add.png') no-repeat center center;
}
.icon-folder_edit{
	background:url('extIcon/folder_edit.png') no-repeat center center;
}
.icon-folder_delete{
	background:url('extIcon/folder_delete.png') no-repeat center center;
}

.ext-icon-zoom_in {	background: url('images/ext_icons/zoom/zoom_in.png') no-repeat ; }